PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_DATABASE=pickpass_db
DB_SYNCHRONIZE=false
JWT_SECRET=replace_with_your_jwt_secret
AES_KEY=replace_with_32_char_aes_key
AES_IV=replace_with_16_char_iv
